<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cefle.imageeditor">

    <!-- Declare READ_EXTERNAL_STORAGE permission to allow the DashboardActivity to pass the image's Uri to ImageEditActivity -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>

    <!-- Declare READ_EXTERNAL_STORAGE permission to allow the DashboardActivity to save the image -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <!-- Declare CAMERA permission to be able to take pictures from the app -->
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tree_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tree_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActionBar">
        <activity android:name=".ImageEditActivity">
        </activity>
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>